body {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  flex: 1;
}

.emoji {
  font-size: 2em;
}

.message {
  background-color: #00bfff;
  padding: 15px;
  border-radius: 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
  font-size: 1.1em;
}

.info-text {
  margin-top: 20px;
  font-size: 1.2em;
  line-height: 1.6;
  font-weight: 400;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }
  .message, .info-text {
    font-size: 1em;
  }
  .emoji {
    font-size: 1.5em;
  }
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9em;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
.emoji-image {
  width: 40px;  /* Width of the image, can adjust based on your needs */
  height: 40px;  /* Height of the image, can adjust based on your needs */
  vertical-align: middle;  /* Aligns the image with the adjacent text */
  margin-bottom: 15px;
}
*, *::before, *::after {
  box-sizing: border-box;
}

.chat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message {
  padding: 15px;
  border-radius: 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
  font-size: 1.1em;
  margin-bottom: 10px;  /* Adds a gap between the bubbles */
}

.message-blue {
  background-color: transparent; /* Remove the blue background */
  color: black; /* Make the text black */
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
  border-bottom-right-radius: 0;  /* Removes the curvature */
  font-size: 1.1em; /* Adjust the font size */
  margin-bottom: 10px;  /* Adds a gap between the bubbles */
}

.message-android {
  background-color: transparent; /* Remove the blue background */
  color: black; /* Make the text black */
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
  border-bottom-right-radius: 0;  /* Removes the curvature */
  font-size: 1.1em; /* Adjust the font size */
  margin-bottom: 10px;  /* Adds a gap between the bubbles */
}
