.title {
    color: black;
    font-family: 'Avenir', sans-serif;
    font-size: 72px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 80px;
    position: relative;
    text-align: center;
    margin-top: 50px;  /* Adjust as needed */
}

#phoneNumberForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input[type="text"] {
  width: 30px;
}

input[type="submit"] {
  background: linear-gradient(to bottom, #ffffff, #ff6666);
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

@media (max-width: 600px) {
    .title {
        font-size: 24px;
    }
}

#phoneBoxContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#phoneBoxContainer input {
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 0 2px;
}

body {
  background: linear-gradient(to bottom, white, lightgray);
}

#yourImage {
  width: 300px;
  height: auto;
  margin-top: 20px;
}
