body {font-family: 'Roboto', sans-serif; background-color:#fff;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-weight:900 }
.fw-bolder { font-weight:900 !important; }
.fs22 {font-size: 18px;}
.fs30 {font-size: 30px;}
.fs40 {font-size: 40px;}
.fs48 {font-size: 48px;}
.fs56 {font-size: 56px;}

.text-muted { color:#9CA0AC !important; }

.btn { border-radius:0 }
.btn-primary {border-color:#0066FF; background-color:#0066FF;  }
.section-wrap { padding:100px 0; } 

.navbar {box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); background-color:#fff;}
.navbar .navbar-brand { line-height:1.5; padding:0; margin:0; }
.navbar .navbar-nav .nav-link { padding-left:15px; padding-right:15px; color:#000;}

.highlight { position:relative; }
.highlight:after { content: ""; position: absolute; left: -10px; z-index: -1; width: 100%; height: 100%; background:#F9ED32;  }
.hero-sec { background: linear-gradient(180deg, rgba(214, 218, 228, 0) 0%, rgba(214, 218, 228, 0.2) 100%); }
.hero-sec h4 { font-weight: 500;}
.hero-sec h1 { line-height: 1.1;}
.hero-sec h1  .highlight:after { left:0; }
.hero-sec .input-group { max-width:520px;  }
.hero-sec .input-group .form-control { border-color:#0066FF; border-radius:0;  }

.review-wrap { background: #111827;  }
.review-wrap .review-box { background: #FFFFFF; padding:25px; border-radius:15px; margin-bottom:30px; }
.review-wrap .review-box p:not(.text-muted) { min-height:125px; }
.review-wrap .review-box .text-muted{ font-size: 12px;}

.footer { background: #111827; color: #FFF;}
.footer a{ color: #FFF;}

@media (max-width:992px) {
.section-wrap { padding:60px 0; } 
.container { max-width:100%; }
.fs22 {font-size: 16px;}
.fs24 {font-size: 16px;}
.fs24 img{ max-width: 18px}
.fs30 {font-size: 22px;}
.fs40 {font-size: 26px;}
.fs48 {font-size: 28px;}
.fs56 {font-size: 32px;}
.navbar .navbar-brand img { max-width:30px; }
}
@media (max-width:767px) {
.fs30 {font-size: 16px;}
.review-wrap .review-box { margin-bottom:20px; }
}
@media (max-width:575px) {
.hero-sec .input-group { display:block; }
.hero-sec .input-group .form-control, .hero-sec .input-group .btn{ width:100%; margin:0 !important; }
}

/* Modify the size of pal-icon */
.navbar .navbar-brand img {
    max-width: 50px; /* You can adjust the size as needed */
    max-height: 50px; /* You can adjust the size as needed */
    margin-right: 10px; /* Optional: Add some margin to separate it from text */
}
/* Add a CSS rule to change the text color of the paragraph to gray */
.section-wrap p {
    color: #808080; /* You can adjust the color as needed */
    font-size: 24px;
}
