<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About the founder</title>
    <style>
        /* CSS to center the content */
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
    <!-- Your image -->
    <img src="static/img/about.png" alt="Founder's Image">
    
    <!-- Your LinkedIn hyperlink -->
    <a href="https://www.linkedin.com/in/alireza-beig-12348853/" target="_blank">Connect with me on LinkedIn or email me at alireza@myfriendpal.com</a>
</body>
</html>
