<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>MyFriendPal</title>
</head>

<body>
    <div class="element">
        <div class="div">
            <p class="text-wrapper">Pal is Your AI Friend and Helps You Become a Better Version of Yourself!</p>
            <p class="p">Powered by homemade AI filled with love and passion!</p>
            <div class="overlap">
                <div id ="activatePal" class="text-wrapper-2">Activate Pal</div>
            </div>
            <div class="text-row">
            <div class="text-wrapper-3">Talk Anytime.</div>
            <div class="text-wrapper-4">Always here.</div>
            <div class="text-wrapper-5">Instant help.</div>
            <div class="text-wrapper-6">Be amazed.</div>
            <div class="text-wrapper-7">Real connection.</div>
            <div class="text-wrapper-8">Smart and Fun.</div>
            <div class="group">
                <div class="overlap-group">
                    <form id="phoneNumberForm">
                        <div class="text-wrapper-9">
                            <input type="text" id="phoneInput" placeholder="Enter phone number">
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="div-7"></div>
            
        </div>
    </div>
</body>

</html>

