<!DOCTYPE html>
<html>
<head>
  <title>My Friend Pal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/pal_style.css">
</head>
<body>
  <div class="container">
    <img src="{{ url_for('static', filename='1.png') }}" alt="Pal Icon" class="emoji-image">

    <div class="message">
        Hey, it's Pal! Think of me as your always-on chat buddy, right in your phone. I'm here whenever you want to talk or need some help.
        🤔 Curious about what I can do? Text 📆 "Calendar" to me, and by that, I'll keep an eye on your schedule. 🗓️ Have a big meeting or a stressful day? 🥹 I've got your back. And that's not all—soon you'll be able to connect me to your Apple Watch ⌚, Fitbit 🏃‍♀️, or Gmail 📧. Whether it's health tips 🍎, sleep advice 🌙, or just a joke to make you smile 😄, I'll know when to chime in. Let's make this friendship amazing! 🌟
    </div>
    <div class="info-text">
        🥳 Now, let's take back our conversation to the chat. Btw, feel free to save me in your contacts, I already saved you!
    </div>
    <div>
        
    </div>
  </div>
  <div class="footer">
    Pal is made by love and passion! Founder Alireza Beig, <a href="mailto:alirezabeig@gmail.com">alirezabeig@gmail.com</a>
  </div>
</body>
</html>

