<!DOCTYPE html>
<html>
<head>
  <title>My Friend Pal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/pal_style.css">
</head>
<body>
  <div class="container">
    <img src="{{ url_for('static', filename='static/img/pal-icon.png') }}" alt="Pal Icon" class="emoji-image">

    <div class="chat">
      <div class="message message-blue">
          Hey, it's Pal! Think of me as your always-on chat buddy, right in your phone. I'm here whenever you want to talk or need some help.
      </div>
      <div class="message message-android">
        🤔 Text "Calendar" to authorize your calendar. I'll monitor your 📆 schedule and 📧 emails. Text "Apple Watch" ⌚ for health tracking and tips 🍎. Questions? Email my founder: Alirezabeig@gmail.com 🌟.
    </div>
    
  </div>
    
    <div>
        
    </div>
  </div>
</body>
</html>

