<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This file contains privacy policy and terms of use for Pal.</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            margin: 40px;
        }
        h1, h2, h3 {
            color: #333366;
        }
        p {
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 1.6;
        }
        ul {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

    <h1>Privacy Policy for Pal</h1>

    <h2>Last Updated: Oct 26, 2023</h2>

    <h2>Introduction</h2>
    <p>Welcome to Pal! We are thrilled you decided to use our services. We take your privacy extremely seriously and are committed to safeguarding your personal information.</p>

    <h2>What Information We Collect</h2>
    
    <h3>Personal Information</h3>
    <p>We collect various types of personal information with your permission and autorization before granting access, including but not limited to:</p>
    <ul>
        <li>Email addresses: For creating your account and providing support</li>
        <li>Calendar details: To help in scheduling and reminders</li>
        <li>Apple watch health: To help in with your sleep schedule</li>
    </ul>

    <h3>Usage Data</h3>
    <p>We also collect data regarding how you interact with our services. This can include:</p>
    <ul>
        <li>Log files: To help in debugging and improving performance</li>
        <li>Cookies: To improve user experience</li>
    </ul>

    <h2>How We Use Your Information</h2>
    <p>We use the collected information to enhance your personalized experience with Pal. This can involve understanding usage patterns and customizing features accordingly.</p>

    <h2>How We Store Your Information</h2>
    <p>We employ stringent security measures and store your information on secure AWS servers. All data is encrypted and regular security audits are performed.</p>

    <h2>How We Share Information</h2>
    <p>Your information is confidential. We do not share it with any third parties. Additionally, no member of the company has access to your confidential information.</p>

    <h2>How Long We Keep Information</h2>
    <p>We will retain your information for as long as your account is active. Should you choose to delete your account, all your data will be permanently removed.</p>

    <h2>Your Rights</h2>
    <p>You have various rights regarding your personal data, including:</p>
    <ul>
        <li>Deletion: You have the right to request that we delete your data.</li>
    </ul>

    <h2>Changes to This Policy</h2>
    <p>We reserve the right to update this privacy policy at any time. Updates will be reflected on this page and noted by a change in the "Last Updated" date at the top of the policy.</p>

    <p>Terms of Service for Pal</p>
    <body>

        <h1>Terms of Service for Pal</h1>
    
        <h2>Last Updated: Oct 2, 2023</h2>
    
        <h2>Introduction</h2>
        <p>Welcome to Pal! These Terms of Service govern your use of Pal and provide information about the Pal service, outlined below.</p>
    
        <h2>Agreement to Terms</h2>
        <p>By using our services, you agree to be bound by these Terms. If you don’t agree to these Terms, do not use Pal.</p>
    
        <h2>Changes to Terms or Services</h2>
        <p>We may modify these terms or any additional terms that apply to a service, for example, to reflect changes to the law or changes to our services.</p>
    
        <h2>Registration and Account Security</h2>
        <p>When you create an account with Pal, you must provide accurate and complete information. You are responsible for maintaining the confidentiality of your account password.</p>
    
        <h2>Privacy Policy</h2>
        <p>Our Privacy Policy describes how we handle the personal data you provide to us when you use our services. You understand that through your use of Pal, you consent to the collection and use of this information.</p>
    
        <h2>Termination</h2>
        <p>We reserve the right to terminate or suspend your account and access to the services at our sole discretion, without notice, for conduct that we believe violates these Terms or is harmful to other users of Pal, us, or third parties, or for any other reason.</p>
    
        <h2>Limitation of Liability</h2>
        <p>To the extent permitted by law, Pal shall not be liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly.</p>
    
        <h2>Dispute Resolution</h2>
        <p>Any disputes arising out of or relating to the Terms, the Privacy Policy, use of our services, or our products (collectively, "Disputes") shall be resolved through arbitration.</p>
    
        <h2>Contact Us</h2>
        <p>If you have any questions about these Terms, please contact us at alireza@imomento.ai.</p>
    
</body>
</html>




