<!DOCTYPE html>
<html>
<head>
    <title>Privacy Policy</title>
</head>
<body>

<h1>Privacy Policy for Your App</h1>


## Privacy Policy for Pal!

Last updated: Oct 2 2023

### Introduction

Welcome to [Your App Name]. We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about this privacy policy or our practices regarding your personal information, please contact us at alireza@imomento.ai.

### What Information We Collect

#### Personal Information

- Email addresses
- Calendar details

#### Usage Data

- Log files
- Cookies

### How We Use Your Information

We use your information to improve your personlized AI experience with Pal.

### How We Store Your Information

Your information is stored securely on AWS servers with secure logging.

### How We Share Information

We share information with no company, person or entity. No memeber of the company has access to your information. 

### How Long We Keep Information

Your information will be retained until when you delete your account.

### Your Rights

You have the right to:

- Access the personal data we hold about you
- Have your personal data deleted

### Changes to This Policy

We may update this privacy policy from time to time.



</body>
</html>




